body {
    background: #3498db;
    font-family: sans-serif;
}

p {
    color: rgb(0, 0, 0);
    padding-left: 3cm;
}

h4 {
    padding-top: 5cm;
    left: 5px;
    font-style: italic;
}

.login {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
}

label {
    font-size: 10pt;
    color: #555;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

.tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    margin: 20px 0px;
}

.small {
    color: rgb(0, 0, 0);
    padding-left: 1.5cm;
    font-size: small;
}